* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body {
    overflow-x: hidden;
}

body {
    min-height: 100dvh;
    background: transparent;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 10px;
}

/* <!--HEADER SECTION HERE--> */

header {
    width: 100%;
    text-align: center;
    background: rgb(14, 13, 13);
    color: rgb(248, 246, 246);

    border-radius: 70px;
    margin: 10px;
    padding: 10px;
}

header h1 {
    margin-bottom: 15px;
    font-size: 1.5rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    letter-spacing: 7px;
}

header p {
    font-size: 1rem;
    font-weight: lighter;
    opacity: .9;
    letter-spacing: 1.5px;
}

section {
    width: 100%;
    min-height: 100dvh;
    height: auto;
    padding: 40px 20px;

    background: linear-gradient(135deg, #5bc096, #2d6a4f);
    border-radius: 30px;
    color: white;
}

.gameVision {
    width: 100%;
    max-width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;


  background: linear-gradient(90deg, #ff512f, #dd2476);
  color: white;
  padding: 10px 24px;
  border-radius: 50px;
  font-weight: bold;
  letter-spacing: 1px;
    
}

/* /* SCORE SECTION HERE */
.score {
    display: none;
    background: #e9f1f029;
    border: 1px solid #2DD4BF;
    border-radius: 30px;
    color: white;

    width: 100%;
    max-width: 400px;
}

.score span, .score p {
     font-weight: light;
     font-size: 1.2em;
     font-family:'Courier New', Courier, monospace;

     
}

.score p {
    text-align: center;
    color: white;
    padding: 0.3em;
    border-radius: 10px;
    margin: 5px;
    
}

.display {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    margin: 1.5em auto;
}

.hide {
    display: none;
}
 

/* IMAGES STYLING HERE */
.game-board{
    display:grid;
    grid-template-columns:1fr auto 1fr;
    align-items:center;
    justify-items:center;
    gap:30px;

    margin: 1.5em;
}

.column{
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:20px;
}

.column p {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    letter-spacing: 1px;
}


#result, #roundText {
    text-align: center;
}

#image1, #image2 {
    filter: drop-shadow(0 0 5px rgb(243, 241, 241));
}


#image1{
 transform: rotate(70deg) scaleX(-1);
} 


#image2 {
    transform: rotate(-70deg);
}

/* DISPLAYING RESULTS HERE */

.text {
    display: none;
}

.show {
    display: flex;
    justify-content: space-around;
    align-items: center;

    overflow: hidden;
}

.hidden {
    display: none;
}


.text p {
    font-size: 1.5em;
    font-weight: 500;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#player, #computer {
    background-color:  transparent;
    color: white;
}



/* BUTTON SECTION HERE */

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    flex-wrap: wrap;
}

.buttons button {
    width: 70px;
    height: 70px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    border: none;
    border-radius: 10%;
    background-color: black;
    color: white;
    font-size: 1.5em;
    cursor: pointer;
    transition: .3s;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.buttons button:hover {
    background: rgba(247, 249, 248, 0.078);
    transform: translateY(5px);
}

.buttons button:active {
    transform: scale(.95);
}

/* //RESET BUTTON STYLING HERE */

#reset {
    width: fit-content;
    padding: 8px 20px;
    margin: 1em auto;
    background: rgba(255, 255, 255, 0.084) ;
    border-radius: 30px;
    border: 1px solid #5EEAD4;
    color: #5EEAD4;
    transition: transform 0.25s ease;
    
    font-size: 1.2em;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

#reset:active, #reset:hover {
    box-shadow: 0 0 5px rgb(13, 7, 9);
    background: #1f3532;
    color: #f9fdfd;
    cursor: pointer;

    transform: translateY(0) scale(0.96);
}


/* //ANIMATION PART GOES HERE */
.shake {
    animation: shake 0.8s ease;
}

@keyframes shake {
    0% {
        transform:  scaleY(1) translateY(0);
    }
    25% {
        transform:  scaleY(1) translateX(15px);
    }
    50% {
        transform:  scaleY(1) translateX(0px);
    }
    75% {
        transform:  scaleY(1) translateX(15px);
    }
    100% {
        transform:  scaleY(1) translateX(0);
    }
}


@media (orientation: landscape) and (max-height:500px){

    section{
        padding:15px;
    }

    .column{
        gap:10px;
    }

    .game-board{
        gap:15px;
    }


    button{
        width:60px;
        height:60px;
        font-size:1.2rem;
    }

    #reset{
        max-width:150px;
        font-size:1rem;
    }
}