* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background: #f4f7ff;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

/* <!--HEADER SECTION HERE--> */

header {
    width: 100%;
    padding: 10px;
    text-align: center;
    background: rgb(148, 241, 191);
    color: black;

    border-radius: 70px;
    margin: 10px;
}

header h1 {
    margin-bottom: 10px;
    font-size: 1.5rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    letter-spacing: 7px;
}

header p {
    font-size: 1rem;
    font-weight: lighter;
    opacity: .9;
    letter-spacing: 1.5px;
}

section {
    width: 100%;
    padding: 40px 20px;
    text-align: center;

    background-color: rgb(148, 241, 191);
    border-radius: 30px 30px 0 0;
    height: 100vh;
}

/* YOU V/S COMPUTER SECTION */

.board {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.board p {
    padding-left: 1em;
    font-size: 1.5em;
    font-weight: 400;
    color: black;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* IMAGES STYLING HERE */
.images-box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 2em;
}


#image1{
    transform: rotate(60deg) scaleX(-1);

}

#image2 {
    transform: rotate(-60deg);
}

/* DISPLAYING RESULTS HERE */

.text {
    display: none;
    justify-content: space-around;
    align-items: center;
    gap: 13em;
}

.show {
    display: flex;
    margin-top: 30px;
}

.hidden {
    display: none;
}


.text p,
#result {
    font-size: 1.5em;
    font-weight: 500;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#player, #computer {
    background-color:  transparent;
    color: black;
}

#result {
    background-color: transparent;
    color: black;
}

/* SCORE SECTION HERE */
.score {
    display: none;
}

.score p {
    width: 100%;
    max-width: 100px;
    color: white;
    background-color: transparent;
    padding: 0.3em;
    border-radius: 10px;
    font-family:'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 1.5em;
    box-shadow: 0 0 5px white;
    
}

.hide {
    display: none;
}

.display {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* BUTTON SECTION HERE */

.buttons {
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-right: 10px;
}

button {
    width: 100%;
    max-width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    border: none;
    border-radius: 50%;
    background-color: transparent;
    box-shadow: 0 2px 5px rgb(10, 6, 6);
    color: white;
    font-size: 2em;
    cursor: pointer;
    transition: .3s;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

button:hover {
    background: rgb(11, 40, 31);
    transform: translateY(5px);
}

button:active {
    transform: scale(.95);
}


/* //ANIMATION PART GOES HERE */
.shake {
    animation: shake 0.8s ease;
}

@keyframes shake {
    0% {
        transform: rotate(0deg) translateY(0);
    }

    20% {
        transform: rotate(-15deg) translateY(-8px);
    }

    40% {
        transform: rotate(15deg) translateY(8px);
    }

    60% {
        transform: rotate(-15deg) translateY(-8px);
    }

    80% {
        transform: rotate(15deg) translateY(8px);
    }

    100% {
        transform: rotate(0deg) translateY(0);
    }
}


@media (max-width:600px){
    header {
        padding: 20px;
    }

    header h1 {
        font-size: 1.5em;
        letter-spacing: 5px;
    }

    header p {
        letter-spacing: none;
    }
    .score {
        gap: 10px;
    }
    .buttons {
        gap: 20px;
        align-items: center;
    }
   
}