* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin: 1em;
}

h1 {
    margin-bottom: 10px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

button {
    padding: 1em;
    margin: 0.2em;
    width: 100%;
    max-width: 50%;
    background-color: white;
    border: none;
    border-radius: 2em;
    font-size: 1.2em;
    color: black;
    font-weight: 400;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

button:hover {
    background-color: rgba(255, 255, 255, 0.774);
}

button:active {
    background-color: skyblue;
    transform: scale(0.9);
    transition: transform 0.1s ease;

}

p {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 10px;
    font-size: 1.6em;
    font-weight: light;
    color: rgb(244, 243, 245);
}





